/*
========================================================================================
    ONT / HYBRID BACTERIAL WGS PIPELINE CONFIG
========================================================================================
*/

params {

    input      = "$projectDir/data"
    outdir     = "$projectDir/data/out"

    mode       = null
    help       = false

    assemble = [
        circular : true
    ]

    hybrid = [
        short_inputs : "$projectDir/data/in/short/*_{1,2}.fastq.gz"
    ]

    max_cpus  = 16
    task_cpus = 8
    memory    = "32 GB"

    enable_reports = true
    min_length = 1000
    genome_size = 5000000
    target_cov  = 100


    
}


process {
    
    withName: CAT_READS         { container = 'debian:stable-slim' }
    withName: 'NANOPLOT.*'      { container = 'quay.io/staphb/nanoplot:1.41.6' }
    withName: FILTLONG          { container = 'quay.io/staphb/filtlong:0.3.1' }
    withName: PORECHOP          { container = 'quay.io/staphb/porechop:0.2.4' }
    withName: NANOCOMP          { container = 'quay.io/biocontainers/nanocomp:1.25.6--pyhdfd78af_0' }
    withName: SEQKIT_STATS      { container = 'quay.io/biocontainers/seqkit:2.6.1--h9ee0642_0' }
    withName: SUBSAMPLING       { container = 'quay.io/staphb/filtlong:0.3.1' }
    
        
    withLabel: 'process_low' {
        cpus = 2
        memory = '4 GB'
    }
    withLabel: 'process_medium' {
        cpus = 4
        memory = '16 GB'
    }
    withLabel: 'process_high' {
        cpus = 8
        memory = '32 GB'
    }

}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/.singularity_cache"
    }
    conda {
        conda.enabled = true
        // Opcional: especificar canal
        process.conda = 'bioconda::nanoplot bioconda::filtlong bioconda::porechop bioconda::nanocomp'
    }
}